.header { 
    background-color:#C5E6F9;
}

.header_wrapper {
    display: flex;
    justify-content: space-around;
    padding: 39px 0 140px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.header_wrapper .header_menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1A202C;
    padding: 10px 0 ;
    margin: 0 10px ;
}

.header_menu a.active {
    color: #3182CE;
    border-bottom: solid #3182CE;
}

.icons_menu a {
    padding: 5px 7px 0px 7px;
}

.hero h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    text-transform: capitalize;
    color: #1A202C;
}

.hero p {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    color: #4A5568;
    padding: 50px 0;
}

.hero .button_wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 39px;
    padding-bottom: 130px;
}

.button_wrapper .button.button--white {
    width: 250px;
    background:#FFFFFF;
    color: #3182CE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_menu {
    margin-right: -155px ;
}