.testimonial_intro {
    text-align: center;
    padding: 96px 0 44px 0 ;
}

.testimonial_wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-evenly;
}

.testimonial_wrapper-block {
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 34px 30px;
}

.testimonial_wrapper-block:hover{
    box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.25);
}

.testimonial_wrapper-block img {
    padding-bottom: 43px;
}

.testimonia_wrapper-block-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1A202C;
    padding: 43px 0 6px 0;
}

.testimonial_wrapper-block hr {
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 43px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #cce0f3;
    border-radius: 50%;
    display: inline-block;
}

.dot.dot_active {
    background-color: #3182CE;
}

.testimonia_dots {
    margin: 55px auto 95px auto;
    text-align: center;
}

@media (max-width:414px) { 
    .testimonial_wrapper-block:first-child,
    .testimonial_wrapper-block:nth-child(2) {
        display: none;
    }

    .testimonia_wrapper-block-name {
        padding: 0 0 6px;
    }

    .testimonia_dots {
        margin: 20px 0;
    }

    .dot {
        height: 15px;
        width: 15px;
    }
}